*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
h2{
    color: rgba(82, 82, 183, 0.601);
}
.title{
    text-align: center;
    color: blue;
}
.category{
    color: rgba(176, 50, 207, 0.601);
}
h1{
    text-align: center;
}