@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "DM Sans", sans-serif;
}

.header{
    width: 100vw;
    height: 88px;
    background-color: #CBC8FF;
    display: flex;
    align-items: center;
    padding: 40px 0px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.div-navigation-left{
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 16px;
    padding-left: 40px;
}
.header-logo{
    width: 147px;
    height: 30px;
    margin-right: 20px;
}
.header-nav-list{
    display: flex;
    gap: 20px;
    list-style: none;
}
.bi-chevron-down{
    margin-left: 6px;
}
.list-item a{
    color: #1D1E20;
}
.div-navigation-rigth{
    display: flex;
    align-items: center;
    padding-right: 40px;
    gap: 24px;
}
.header-language{
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-flag{
    width: 32px;
    height: 24px;
}
.header-span{
    color: #161718;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}
.header-button{
    padding: 14px 18px;
    border-radius: 8px;
    border: solid 0.8px black;
    color: #161718;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
}
.padre{
    width: 100vw;
    height: 100vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    position: relative; /* PARA QUE EL HIJO (absolute) INICIE EN EL PADRE Y NO EN EL BODY */
}

.hijo{
    width: 100px;
    height: 100px;
    border: 1px black solid;
}

.hijo:nth-child(1){
    background-color: red;
}
.hijo:nth-child(2){
    background-color: green;
    position: absolute;
    top: 90px;
    left: 90px;
}
.hijo:nth-child(3){
    background-color: blue;
    position: relative;
}

/* INPUT */

.contenedor-input{
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.input{
    width: 100%;
}
.lupita{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 100%;
    position: absolute;
    right: 10px;
}
